form.calc {
  width: 600px;
  height: 300px;
  border: 1px solid orange;  
  padding-top: 25px;
  padding-left: 30px;
}

form.calc input {
  width: 200px;
  height: 25px;
  display: block;
  margin-bottom: 25px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
}

form.calc label {
  font-weight: bold;
  color: orange;
}

form.calc select {
  width: 150px;
  height: 25px;
  display: block;
  margin-bottom: 35px;
  border-radius: 3px;
}

form.calc button {
  width: 120px;
  height: 45px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: 1px solid orange;
  border-radius: 8px;
}

h5.result {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 22px;
    color: red;
}
