h1.send1 {
  font-family: bookman old style;
  font-size: 32px;
  color: green;
  padding-left: 100px;
}

form.send2 {
  font-family: bookman old style;
  font-bold: bold;
  font-size: 18px;
  color: orange;
  padding-left: 15px;
  padding-right: 5px;
}

form.send2 input {
  width: 200px;
  height: 25px;
  display: line;
  font-size: 14px;
  font-family: times new roman;
  margin-bottom: 5px;
  border-radius: 6px;
  padding-left: 10px;
}

form.send2 textarea {
  width: 220px;
  height: 240px;
  font-family: bookman old style;
  font-bold: bold;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 5px;
}




